<button class="btn btn-primary btn-raised" [routerLink]="['/master/product']">Back</button>
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title" id="basic-layout-colored-form-control">Product</h4>
      </div>
      <div class="card-body">
        <div class="px-3">
          <form class="form" [formGroup]="product" (ngSubmit)="addOrUpdate(product)">
            <div class="form-body">
              <h4 class="form-section"><i class="ft-info"></i> Product Details</h4>
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="product_name">Product Name</label>
                    <input type="text" formControlName="product_name" id="product_name"
                      class="form-control border-primary" name="product_name">
                    <input type="hidden" formControlName="id" id="id" value="new" class="form-control border-primary"
                      name="id">

                  </div>

                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="product_display_name">Product Display Name</label>
                    <input type="text" formControlName="product_display_name" id="product_display_name"
                      class="form-control border-primary" name="product_display_name">
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="form-group">
                    <label for="product_code">Product Code</label>
                    <input type="text" formControlName="product_code" id="product_code"
                      class="form-control border-primary" name="product_code">
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="form-group">
                    <label for="product_hsn">HSN Code</label>
                    <input type="text" formControlName="product_hsn" id="product_hsn"
                      class="form-control border-primary" name="product_hsn">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="product_category">Product Category</label>
                    <ng-select formControlName="product_category" id="product_category" name="product_category">
                      <ng-option *ngFor="let product_category of productCategories" [value]="product_category.id">
                        {{product_category.product_category_name}}</ng-option>
                    </ng-select>
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="form-group">
                    <label for="product_uom">UOM</label>
                    <ng-select formControlName="product_uom" id="product_uom">
                      <ng-option *ngFor="let uom of uoms" [value]="uom.id">{{uom.unit_name}}</ng-option>
                    </ng-select>
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="form-group">
                    <label for="product_conv_uom">Conv. UOM</label>
                    <ng-select formControlName="product_conv_uom" id="product_conv_uom">
                      <ng-option *ngFor="let uom of uoms" [value]="uom.id">{{uom.unit_name}}</ng-option>
                    </ng-select>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="product_conv_factor">Conv. Factor</label>
                    <input type="number" formControlName="product_conv_factor" id="product_conv_factor"
                      class="form-control border-primary" name="product_conv_factor">
                  </div>
                </div>

              </div>
              <div class="row">
                <div class="col-lg-4">
                  <div class="form-group">
                    <label for="product_trade_name">Trade Name</label>
                    <input type="text" formControlName="product_trade_name" id="product_trade_name"
                      class="form-control border-primary" name="product_trade_name">
                  </div>
                </div>
                <div class="col-4">
                  <div class="form-group">
                    <label for="product_type">Product Type</label>
                    <select class="form-control" formControlName="product_type" id="product_type">
                      <option>RAW Product</option>
                      <option>Finished Product</option>
                      <option>Semi-Finished Product</option>
                    </select>
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-group">
                    <label for="product_store_location">Store Location</label>
                    <input type="text" formControlName="product_store_location" id="product_store_location"
                      class="form-control border-primary" name="product_store_location">
                  </div>
                </div>
              </div>

              <h4 class="form-section mt-1"><i class="ft-info"></i>Stock Management</h4>
              <div class="row">
                <div class="col-md-2">

                  <div class="form-group">
                    <label for="product_batch_type">Batch Type</label> <br />
                    <div class="input-group">
                      <div class="custom-control custom-radio d-inline-block">
                        <input class="custom-control-input" id="customRadioInline1" formControlName="product_batch_type"
                          name="product_batch_type" type="radio" [value]=1>
                        <label class="custom-control-label" for="customRadioInline1">Yes</label>
                      </div>
                      <div class="custom-control custom-radio d-inline-block">
                        <input class="custom-control-input" id="customRadioInline2" formControlName="product_batch_type"
                          name="product_batch_type" type="radio" [value]=0>
                        <label class="custom-control-label" for="customRadioInline2">No</label></div>
                    </div>



                  </div>
                </div>
                <div class="col-md-3">

                  <div class="form-group">
                    <label for="product_maintain_stock_ledger">Maintain Stock Ledger</label> <br />
                    <div class="input-group">
                      <div class="custom-control custom-radio d-inline-block">
                        <input class="custom-control-input" id="product_stock_ledger_yes"
                          formControlName="product_stock_ledger" name="product_stock_ledger" type="radio" [value]=1>

                        <label class="custom-control-label" for="product_stock_ledger_yes">Yes</label>
                      </div>
                      <div class="custom-control custom-radio d-inline-block">
                        <input class="custom-control-input" id="product_stock_ledger_no"
                          formControlName="product_stock_ledger" name="product_stock_ledger" type="radio" [value]=0>

                        <label class="custom-control-label" for="product_stock_ledger_no">No</label></div>
                    </div>
                  </div>


                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label for="product_rate_pick">Rate Pick From</label>
                    <select class="form-control" formControlName="product_rate_pick" id="product_rate_pick">
                      <option>MRP Rates Standards</option>
                      <option>Sales Rates Standards</option>
                    </select>
                  </div>
                </div>

              </div>

              <div class="row">
                <div class="col-lg-6">
                  <h4 class="form-section mt-1"><i class="ft-info"></i>Item Price</h4>
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label for="product_purchase_rate">Purchase Rate</label>
                        <input type="number" formControlName="product_purchase_rate" id="product_purchase_rate"
                          class="form-control border-primary" name="product_purchase_rate">
                      </div>

                    </div>
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label for="product_sales_rate">Sales Rate</label>
                        <input type="number" formControlName="product_sales_rate" id="product_sales_rate"
                          class="form-control border-primary" name="product_sales_rate">
                      </div>
                    </div>
                  </div>
                  <div class="row">

                    <div class="col-lg-6">
                      <div class="form-group">
                        <label for="product_mrp_rate">MRP Rate</label>
                        <input type="number" formControlName="product_mrp_rate" id="product_sales_rate"
                          class="form-control border-primary" name="product_sales_rate">
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label for="product_gst_rate">GST Rate %</label>

                        <ng-select formControlName="product_gst_rate" id="product_gst_rate">
                          <ng-option *ngFor="let tax of taxes" [value]="tax.id">{{tax.tax_name}}</ng-option>
                        </ng-select>
                      </div>
                    </div>
                  </div>

                </div>
                <div class="col-lg-6">
                  <h4 class="form-section mt-1"><i class="ft-info"></i>Critical Level</h4>
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label for="product_max_level">Max Level</label>
                        <input type="number" formControlName="product_max_level" id="product_max_level"
                          class="form-control border-primary" name="product_max_level">
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label for="product_min_level">Min Level</label>
                        <input type="number" formControlName="product_min_level" id="product_min_level"
                          class="form-control border-primary" name="product_min_level">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <fieldset class="form-group">
                    <label for="product_description">Description</label>
                    <textarea class="form-control" formControlName="product_description" id="product_description"
                      name="product_description" rows="3"></textarea>
                  </fieldset>
                </div>
              </div>

            </div>
            <div class="form-actions left">
              <input type="submit" [disabled]="product.invalid" value="Save" class="btn btn-raised btn-primary">
            </div>
          </form>
          <div>
            <pre>
              {{product.value|json}}
            </pre>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>