<button class="btn btn-primary btn-raised" (click)="cancel()">Back</button>
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title" id="basic-layout-colored-form-control">Add Category</h4>
      </div>
      <div class="card-body">
        <div class="px-3">
          <form class="form" [formGroup]="category_data" (ngSubmit)="addOrUpdate(category_data)">
            <div class="form-body">
              <h4 class="form-section"><i class="ft-info"></i> Category Details</h4>
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="product_category_name">Category Name</label>
                    <input type="text" formControlName="product_category_name" id="product_category_name"
                      class="form-control border-primary" name="product_category_name">
                    <div *ngIf="errors.product_category_name !== '' ">
                      <p class="red mt-1">{{errors.product_category_name}}</p>
                    </div>
                    <input type="hidden" formControlName="id" id="id" class="form-control border-primary" name="id">
                  </div>
                </div>
              </div>
              <div class="form-actions left">
                <input type="submit" value="Save" [disabled]="category_data.invalid" class="btn btn-raised btn-primary">
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>