<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <div class="col-lg-12 pl-0">
          <p class="text-left" style="text-transform: capitalize !important;font-weight: 400;font-size: 1.5rem;">Branch
            Details
          </p>
        </div>
      </div>
      <div class="card-body">
        <div class="card-block" *ngIf="chart_of_account">
          <div class="row mb-2">
            <div class="col-lg-3">
              <span class="text-bold-500 primary"><a>Company Name:</a></span>
              <span class="display-block overflow-hidden">{{chart_of_account.ca_company_display_name}}</span>
            </div>
            <div class="col-lg-3">
              <span class="text-bold-500 primary"><a>Category:</a></span>
              <span class="display-block overflow-hidden">{{chart_of_account.ca_category}}</span>
            </div>
            <div class="col-lg-3">
              <span class="text-bold-500 primary"><a>Code:</a></span>
              <span class="display-block overflow-hidden">{{chart_of_account.ca_code}}</span>
            </div>
            <div class="col-lg-3">
              <span class="text-bold-500 primary"><a>Opening Amount:</a></span>
              <span class="display-block overflow-hidden">{{chart_of_account.ca_opening_amount}}</span>
            </div>
          </div>
          <div class="row mb-2">
            <div class="col-lg-3">
              <span class="text-bold-500 primary"><a>Opening Type:</a></span>
              <a class="display-block overflow-hidden">{{chart_of_account.ca_opening_type}}</a>
            </div>
            <div class="col-lg-3">
              <span class="text-bold-500 primary"><a>Website:</a></span>
              <a class="display-block overflow-hidden">{{chart_of_account.ca_website}}</a>
            </div>
            <div class="col-lg-3">
              <span class="text-bold-500 primary"><a>PAN:</a></span>
              <span class="display-block overflow-hidden">{{chart_of_account.ca_pan}}</span>
            </div>
            <div class="col-lg-3">
              <span class="text-bold-500 primary"><a>GST Number:</a></span>
              <span class="display-block overflow-hidden">{{chart_of_account.ca_gstn}}</span>
            </div>
          </div>
          <div class="row mb-2">
            <div class="col-lg-3">
              <span class="text-bold-500 primary"><a>TAN Number:</a></span>
              <span class="display-block overflow-hidden">{{chart_of_account.ca_tan}}</span>
            </div>
            <div class="col-lg-3">
              <span class="text-bold-500 primary"><a>Account Date Opened:</a></span>
              <span class="display-block overflow-hidden">{{chart_of_account.ca_date_opened}}</span>
            </div>
            <div class="col-lg-3">
              <span class="text-bold-500 primary"><a>Contact Person Name</a></span>
              <span class="display-block overflow-hidden">{{chart_of_account.contact?.ca_contact_first_name}}
                {{chart_of_account.contact?.ca_contact_last_name}}</span>
            </div>
            <div class="col-lg-3">
              <span class="text-bold-500 primary"><a>Contact Person Number:</a></span>
              <span class="display-block overflow-hidden">{{chart_of_account.contact?.ca_contact_mobile_number}}</span>
            </div>
          </div>
          <div class="row mb-2">
            <div class="col-lg-3">
              <span class="text-bold-500 primary"><a>Contact Person Email:</a></span>
              <span class="display-block overflow-hidden">{{chart_of_account.contact?.ca_contact_email}}</span>
            </div>
            <div class="col-lg-3">
              <span class="text-bold-500 primary"><a>Contact Person Designation:</a></span>
              <span class="display-block overflow-hidden">{{chart_of_account.contact?.ca_contact_designation}}</span>
            </div>
            <div class="col-lg-3">
              <span class="text-bold-500 primary"><a>Contact Person Branch:</a></span>
              <span class="display-block overflow-hidden">{{chart_of_account.contact?.ca_contact_branch}}</span>
            </div>
          </div>
          <div class="row mb-2">

            <div class="col-lg-12">
              <span class="text-bold-500 primary"><a>Address:</a></span>
              <span class="display-block overflow-hidden">
                <span *ngIf="chart_of_account.address?.address_line_1">{{chart_of_account.address?.address_line_1}}
                  <br></span>
                <span *ngIf="chart_of_account.address?.address_line_2">{{chart_of_account.address?.address_line_2}}
                  <br></span>
                <span *ngIf="chart_of_account.address?.city">{{chart_of_account.address?.city}} <br></span>
                <span *ngIf="chart_of_account.address?.state">{{chart_of_account.address?.state}} <br></span>
                <span *ngIf="chart_of_account.address?.country">{{chart_of_account.address?.country}} <br></span>
                <span *ngIf="chart_of_account.address?.pincode">{{chart_of_account.address?.pincode}} <br></span>

              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>