<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title" id="basic-layout-colored-form-control">Add New Lead</h4>
      </div>
      <div class="card-body">
        <div class="px-3">
          <!-- Form Start -->
          <form class="form" [formGroup]="lead_data" (ngSubmit)="addOrUpdate(lead_data)">
            <input type="hidden" formControlName="id" id="id" class="form-control border-primary" name="id">
            <div class="form-body">
              <h4 class="form-section"><i class="ft-info primary"></i> Basic Information </h4>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="company_name">Company Name</label>
                    <input type="text" formControlName="company_name" id="company_name"
                      class="form-control border-primary" name="company_name" required>
                    <div *ngIf="companyName.touched && companyName.invalid">
                      <small class="form-text text-muted danger">Please enter a company Name!</small>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row" formArrayName="contact_persons">
                <div class="col-md-12">
                  <h4 class="form-section"><i class="ft-user danger"></i> Contact Persons <a
                      class="btn btn-raised btn-outline-primary btn-sm mt-2 ml-2" (click)="addContactGroup()">
                      Add New
                    </a></h4>
                  <div class="card animation-frame" *ngFor="let contact of contactsFormArray.controls;let i = index"
                    [formGroupName]="i" @fade>
                    <div class="card-block p-0">
                      <h5 class="card-title">Contact Person-{{i+1}} <a *ngIf="contactsFormArray.controls.length!==1"
                          (click)=removeContact(i)><i class="ft-x danger"></i></a>
                      </h5>
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group">
                            <label for="name-{{i}}">Name</label>
                            <input type="text" formControlName="name" id="name-{{i}}"
                              class="form-control border-primary">
                            <div
                              *ngIf="contactsFormArray.controls[i].controls.name.touched && contactsFormArray.controls[i].controls.name.invalid">
                              <small class="form-text text-muted danger">Please enter Name of the contact!</small>

                            </div>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                            <label for="email-{{i}}">Email</label>
                            <input type="text" formControlName="email" id="email-{{i}}"
                              class="form-control border-primary">
                            <div *ngIf="contactsFormArray.controls[i].controls.email.errors">
                              <div
                                *ngIf="contactsFormArray.controls[i].controls.email.touched && contactsFormArray.controls[i].controls.email.errors.required">
                                <small class="form-text text-muted danger">Please enter Email of the contact!</small>
                              </div>
                              <div
                                *ngIf="contactsFormArray.controls[i].controls.email.touched && contactsFormArray.controls[i].controls.email.errors.email">
                                <small class="form-text text-muted danger">Please enter Valid Email Address of the
                                  contact!</small>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group">
                            <label for="primary_contact_number-{{i}}">Primary Contact Number</label>
                            <input type="number" formControlName="primary_contact_number"
                              id="primary_contact_number-{{i}}" class="form-control border-primary"
                              name="primary_contact_number">
                            <div
                              *ngIf="contactsFormArray.controls[i].controls.primary_contact_number.touched && contactsFormArray.controls[i].controls.primary_contact_number.invalid">
                              <small class="form-text text-muted danger">Please enter Primary Contact Number!</small>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                            <label for="secondary_contact_number-{{i}}">Secondary Contact Number</label>
                            <input type="number" formControlName="secondary_contact_number"
                              id="secondary_contact_number-{{i}}" class="form-control border-primary">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
              <h4 class="form-section"><i class="ft-edit-2 secondary"></i> Lead Details</h4>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="assigned_to">Assigned To</label>
                   <app-employee-selector
                   [parentForm]="lead_data"
                   [controlName]="'assigned_to'"
                   >
                   </app-employee-selector>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="lead_status">Lead Status</label>
                    <ng-select  formControlName="lead_status" id="lead_status">
                      <ng-option value="new" >New</ng-option>
                      <ng-option value="contacted">Contacted</ng-option>
                      <ng-option value="interested">Interested</ng-option>
                      <ng-option value="under_review">Under Review</ng-option>
                      <ng-option value="demo">Demo</ng-option>
                      <ng-option value="unqualified">Unqualified</ng-option>
                    </ng-select>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="source">Source</label>
                    <ng-select formControlName="source" id="source">
                      <ng-option value="web">Web</ng-option>
                      <ng-option value="organic_search">Organic Search</ng-option>
                      <ng-option value="email">Email</ng-option>
                    </ng-select>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="product">Product</label>
                    <app-product-select
                    [parentForm]="lead_data"
                    [controlName]="'product'"
                    ></app-product-select>
                  </div>
                </div>
              </div>
              <h4 class="form-section mt-1"><i class="ft-info"></i> Other Details</h4>
              <div class="row">
                <div class="col-md-12">
                  <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                      <a class="nav-link" [class.active]="active=='today'" (click)="active='today'" role="tab"> Company
                        Info </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link active" [class.active]="active=='missed'" (click)="active='missed'"
                        role="tab">Address</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" [class.active]="active=='social'" (click)="active='social'"
                        role="tab">Social</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" [class.active]="active =='future'" (click)="active='future'"
                        role="tab">Deal</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" [class.active]="active=='source'" (click)="active='source'" role="tab">Source
                        Info</a>
                    </li>

                  </ul>
                  <div class="tab-content">
                    <div class="tab-pane active" [class.active]="active=='today'" id="today" role="tabpanel"
                      formGroupName="company_info">

                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group">
                            <label for="company_employee_number">Number of employees</label>
                            <input type="text" formControlName="company_employee_number" id="company_employee_number"
                              class="form-control border-primary" name="company_employee_number">
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                            <label for="company_annual_revenue">Company annual revenue</label>
                            <input type="text" formControlName="company_annual_revenue" id="company_annual_revenue"
                              class="form-control border-primary" name="company_annual_revenue">
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group">
                            <label for="company_website">Company website</label>
                            <input type="text" formControlName="company_website" id="company_website"
                              class="form-control border-primary" name="company_website">
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                            <label for="company_phone">Company phone</label>
                            <input type="text" formControlName="company_phone" id="company_phone"
                              class="form-control border-primary" name="company_phone">
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group">
                            <label for="company_industry_type">Industry type</label>
                            <ng-select formControlName="company_industry_type"
                              id="company_industry_type">
                             
                              <ng-option ngValue="Accounting Type">Accounting Type</ng-option>
                              <ng-option ngValue="Advertising">Advertising</ng-option>
                              <ng-option ngValue="Aerospace">Aerospace</ng-option>
                              <ng-option ngValue="Agriculture">Agriculture</ng-option>
                              <ng-option ngValue="Aircraft">Aircraft</ng-option>
                              <ng-option ngValue="Airline">Airline</ng-option>
                              <ng-option ngValue="Apparel & Accessories">Apparel & Accessories</ng-option>
                              <ng-option ngValue="Automative">Automative</ng-option>
                              <ng-option ngValue="Banking">Banking</ng-option>
                              <ng-option ngValue="Biotechology">Biotechology</ng-option>
                              <ng-option ngValue="Broadcasting">Broadcasting</ng-option>
                              <ng-option ngValue="Call Center">Call Center</ng-option>
                              <ng-option ngValue="Cargo Handling">Cargo Handling</ng-option>
                              <ng-option ngValue="Construction">Construction</ng-option>
                              <ng-option ngValue="Consulting">Consulting</ng-option>
                              <ng-option ngValue="Consumer Product">Consumer Product</ng-option>
                              <ng-option ngValue="Defence">Defence</ng-option>
                              <ng-option ngValue="Education">Education</ng-option>
                              <ng-option ngValue="Electronic">Electronic</ng-option>
                              <ng-option ngValue="Energy">Energy</ng-option>
                              <ng-option ngValue="Engineering">Engineering</ng-option>
                              <ng-option ngValue="Entertainment & Leisure">Entertainment & Leisure</ng-option>
                              <ng-option ngValue="Executive Search">Executive Search</ng-option>
                              <ng-option ngValue="Finanical Services">Finanical Services</ng-option>
                              <ng-option ngValue="Hosptality">Hosptality</ng-option>
                              <ng-option ngValue="Insurance">Insurance</ng-option>
                              <ng-option ngValue="Investment Banking">Investment Banking</ng-option>
                              <ng-option ngValue="Music">Music</ng-option>
                              <ng-option ngValue="Newspaper Publishing">Newspaper Publishing</ng-option>
                              <ng-option ngValue="Online Auctions">Online Auctions</ng-option>
                              <ng-option ngValue="Pension Funds">Pension Funds</ng-option>
                              <ng-option ngValue="Pharmaceuticals">Pharmaceuticals</ng-option>
                              <ng-option ngValue="Publishing">Publishing</ng-option>
                              <ng-option ngValue="Real Estate">Real Estate</ng-option>
                              <ng-option ngValue="Retail & Wholesale">Retail & Wholesale</ng-option>
                              <ng-option ngValue="Security & Wholesale">Security & Wholesale</ng-option>
                              <ng-option ngValue="Services">Services</ng-option>
                              <ng-option ngValue="Shipping">Shipping</ng-option>
                              <ng-option ngValue="Saop & Detergent">Saop & Detergent</ng-option>
                              <ng-option ngValue="Software">Software</ng-option>
                              <ng-option ngValue="Sports">Sports</ng-option>
                              <ng-option ngValue="Telecommunication">Telecommunication</ng-option>
                              <ng-option ngValue="Television">Television</ng-option>
                              <ng-option ngValue="Transportation">Transportation</ng-option>
                              <ng-option ngValue="Utilities">Utilities</ng-option>
                            </ng-select>
                          </div>
                        </div>

                        <div class="col-md-6">
                          <div class="form-group">
                            <label for="company_business_type">Business Type</label>
                            <ng-select  formControlName="company_business_type"
                              id="company_business_type">
                              <ng-option>Select Option</ng-option>
                              <ng-option>Analyst</ng-option>
                              <ng-option>Competitor</ng-option>
                              <ng-option>Customer</ng-option>
                              <ng-option>Integration</ng-option>
                              <ng-option>Investor</ng-option>
                              <ng-option>Partner</ng-option>
                              <ng-option>Press</ng-option>
                              <ng-option>Prospect</ng-option>
                              <ng-option>Reseller</ng-option>
                              <ng-option>Other</ng-option>
                            </ng-select>
                          </div>
                        </div>
                      </div>

                    </div>
                    <div class="tab-pane" [class.active]="active=='missed'" id="missed" role="tabpanel"
                      >
                    <app-address [parentForm]="lead_data" [controlName]="'address'"
                    [prefetchedData]="prefetchedAddress"
                    ></app-address>
                    </div>
                    <div class="tab-pane active" [class.active]="active=='social'" id="social" role="tabpanel"
                      formGroupName="social">
                      <div class="row d-flex flex-column">
                        <div class="col-md-6">
                          <div class="form-group">
                            <label for="facebook_link"><i class="ft-facebook"></i> Facebook </label>
                            <input type="text" formControlName="facebook_link" id="facebook_link"
                              class="form-control border-primary" name="facebook_link">
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                            <label for="twitter_link"><i class="ft-twitter"></i> Twitter </label>
                            <input type="text" formControlName="twitter_link" id="twitter_link"
                              class="form-control border-primary" name="twitter_link">
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                            <label for="linkedin_link">LinkedIN</label>
                            <input type="text" formControlName="linkedin_link" id="linkedin_link"
                              class="form-control border-primary" name="linkedin_link">
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="tab-pane" [class.active]="active=='future'" id="future" role="tabpanel"
                      formGroupName="deal">
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group">
                            <label for="deal_name">Deal name</label>
                            <input type="text" formControlName="deal_name" class="form-control" id="deal_name"
                              name="deal_name">
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                            <label for="deal_value">Deal value</label>
                            <input type="text" formControlName="deal_value" class="form-control" id="deal_value"
                              name="deal_value">
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group">
                            <label for="deal_expected_close_date">Deal Expected Close Date</label>
                            <input type="date" formControlName="deal_expected_close_date" id="issueinput3"
                              class="form-control" name="deal_expected_close_date" data-toggle="tooltip"
                              data-trigger="hover" data-placement="top" data-title="Date Opened">
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                            <label for="deal_product">Product</label>

                            <ng-select formControlName="deal_product" id="deal_product">
                              <ng-option>Select Option</ng-option>
                              <ng-option>Maharashtra</ng-option>
                              <ng-option>Gujarat</ng-option>
                              <ng-option>Rajasthan</ng-option>
                            </ng-select>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="tab-pane" [class.active]="active==='source'" id="source" role="tabpanel"
                      formGroupName="source_info">
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group">
                            <label for="campaign">Campaign</label>
                            <!-- <ng-select class="form-control" formControlName="campaign" id="campaign">
                                                          <ng-option>Select Option</ng-option>
                                                          <ng-option>Option 1</ng-option>
                                                          <ng-option>Option 2</ng-option>
                                                          <ng-option>Option 3</ng-option>
                                                        </ng-select> -->
                            <input type="text" formControlName="campaign" class="form-control" id="campaign"
                              name="campaign">
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group">
                            <label for="medium">Medium</label>
                            <input type="text" formControlName="medium" class="form-control" id="medium" name="medium">
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                            <label for="keyword">Keyword</label>
                            <input type="text" formControlName="keyword" class="form-control" id="keyword"
                              name="keyword">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-actions left">
              <input type="submit" value="Save" class="btn btn-raised btn-primary">
              <input type="button" value="Cancel" [routerLink]="['/crm/lead']" class="btn btn-raised ml-1 btn-danger">
            </div>
          </form>
          <!-- Form End -->
          <div>
            {{lead_data.value | json}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>