<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <div class="col-lg-12 pl-0">
          <p class="text-left" style="text-transform: capitalize !important;font-weight: 400;font-size: 1.5rem;">Product
            Details
          </p>
        </div>
      </div>
      <div class="card-body">
        <div class="card-block" *ngIf="data">
          <div class="row mb-2">
            <div class="col-lg-3">
              <span class="text-bold-500 primary"><a>Product Name:</a></span>
              <span class="display-block overflow-hidden">{{data.product_display_name}}</span>
            </div>

            <div class="col-lg-3">
              <span class="text-bold-500 primary"><a>Code:</a></span>
              <span class="display-block overflow-hidden">{{data.product_code}}</span>
            </div>

            <div class="col-lg-3">
              <span class="text-bold-500 primary"><a>Product Type:</a></span>
              <span class="display-block overflow-hidden">{{data.product_type}}</span>
            </div>

            <div class="col-lg-3">
              <span class="text-bold-500 primary"><a>Category</a></span>
              <span class="display-block overflow-hidden">{{data.category?.product_category_name}}</span>
            </div>
          </div>

          <div class="row mb-2">
            <div class="col-lg-3">
              <span class="text-bold-500 primary"><a>Trade Name:</a></span>
              <span class="display-block overflow-hidden">{{data.product_trade_name}}</span>
            </div>
            <div class="col-lg-3">
              <span class="text-bold-500 primary"><a>HSN Code:</a></span>
              <span class="display-block overflow-hidden">{{data.product_hsn}}</span>
            </div>
            <div class="col-lg-3">
              <span class="text-bold-500 primary"><a>Batch Type:</a></span>
              <span class="display-block overflow-hidden">{{data.product_batch_type?"Yes":"NO"}}</span>
            </div>
            <div class="col-lg-3">
              <span class="text-bold-500 primary"><a>Stock Ledger:</a></span>
              <span class="display-block overflow-hidden">{{data.product_stock_ledger?"Yes":"NO"}}</span>
            </div>
          </div>


          <div class="row mb-2">
            <div class="col-lg-3">
              <span class="text-bold-500 primary"><a>UOM:</a></span>
              <span class="display-block overflow-hidden">{{data.uom?.unit_name}}</span>
            </div>
            <div class="col-lg-3">
              <span class="text-bold-500 primary"><a>Conv UOM:</a></span>
              <span class="display-block overflow-hidden">{{data.conv_uom?.unit_name}}</span>
            </div>
            <div class="col-lg-3">
              <span class="text-bold-500 primary"><a>Conv Factor:</a></span>
              <span class="display-block overflow-hidden">{{data.product_conv_factor}}</span>
            </div>
            <div class="col-lg-3">
              <span class="text-bold-500 primary"><a>Store Location</a></span>
              <span class="display-block overflow-hidden">{{data.product_store_location}}</span>
            </div>
          </div>

          <div class="row mb-2">
            <div class="col-lg-3">
              <span class="text-bold-500 primary"><a>Purchase Rate:</a></span>
              <span class="display-block overflow-hidden">{{data.product_purchase_rate}}</span>
            </div>
            <div class="col-lg-3">
              <span class="text-bold-500 primary"><a>MRP Rate:</a></span>
              <span class="display-block overflow-hidden">{{data.product_mrp_rate}}</span>
            </div>
            <div class="col-lg-3">
              <span class="text-bold-500 primary"><a>Sales Rate:</a></span>
              <span class="display-block overflow-hidden">{{data.product_sales_rate}}</span>
            </div>
            <div class="col-lg-3">
              <span class="text-bold-500 primary"><a>Rate Pick From:</a></span>
              <span class="display-block overflow-hidden">{{data.product_rate_pick}}</span>
            </div>

          </div>

          <div class="row mb-2">
            <div class="col-lg-3">
              <span class="text-bold-500 primary"><a>Max Level:</a></span>
              <span class="display-block overflow-hidden">{{data.product_max_level}}</span>
            </div>
            <div class="col-lg-3">
              <span class="text-bold-500 primary"><a>Min Level:</a></span>
              <span class="display-block overflow-hidden">{{data.product_min_level}}</span>
            </div>
            <div class="col-lg-3">
              <span class="text-bold-500 primary"><a>Gst Rate:</a></span>
              <span class="display-block overflow-hidden">{{data.tax?.tax_name}}</span>
            </div>
          </div>

          <div class="row mb-2">
            <div class="col-lg-12">
              <span class="text-bold-500 primary"><a>Description:</a></span>
              <span class="display-block overflow-hidden">
                <p>{{data.product_description}}</p>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>