<button class="btn btn-primary btn-raised" [routerLink]="['new']">Create New</button>
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-lg-12">
            <table class="table table-bordered">
              <thead>
                <th>Company Name</th>
                <th>GST Number</th>
                <th>Code</th>
                <th>Category</th>
                <th>Action</th>
              </thead>
              <tbody>
                <tr *ngFor="let coa of rows |  paginate: {
                                                                itemsPerPage: paginationData.per_page,
                                                                currentPage: paginationData.current_page,
                                                                totalItems: paginationData.total,
                                                                id: 'get_list'
                                }">
                  <td>{{coa.ca_company_display_name}}</td>
                  <td>{{coa.ca_category}}</td>
                  <td>{{coa.ca_code}}</td>
                  <td>{{coa.ca_gstn}}</td>
                  <td>
                    <a [routerLink]="['detail',coa.id]" routerLinkActive="router-link-active"
                      class="danger font-medium-1 p-0 mr-2"><i class="fa fa-eye"></i></a>
                    <a [routerLink]="[coa.id]" class="success font-medium-1 p-0"><i class="fa fa-edit"></i></a>
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="row pull-right pr-5">
              <nav>
                <pagination-controls id="get_list" (pageChange)='getData($event)'></pagination-controls>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <button class="btn btn-primary btn-raised" (click)="toNext()">Next Page</button> -->