<div [formGroup]="parentForm">
  <ng-container [formGroupName]="controlName">
    <div class="row">
      <div class="col-md-12">
        <label>Address Line 1</label>
        <input
          class="form-control border-primary"
          id="address_line_1"
          type="text"
          formControlName="address_line_1"
        />
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <label>Address Line 2</label>
        <input
          class="form-control border-primary"
          id="address_line_2"
          type="text"
          formControlName="address_line_2"
        />
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <label for="city">City</label>
        <input
          class="form-control border-primary"
          id="city"
          type="text"
          formControlName="city"
        />
      </div>
      <div class="col-md-4">
        <label for="state">State</label>
        <input
          class="form-control border-primary"
          id="state"
          type="text"
          formControlName="state"
        />
      </div>
      <div class="col-md-4">
        <label for="pincode">PinCode</label>
        <input
          class="form-control border-primary"
          id="pincode"
          type="text"
          formControlName="pincode"
        />
      </div>
    </div>
  </ng-container>
</div>
