<div class="container-fluid">
  <div class="row full-height-vh">

    <div class="col-12 d-flex align-items-center justify-content-center flex-column">
      <div class="mb-2">
        <div class="row">
          <div class="col-12">
            <h2>
              First, Let's Complete The Company Setup Process
            </h2>
          </div>
        </div>
      </div>
      <br>
      <div class="col-6 col-offset-4">
        <div class="card p-5">
          <form class="form" [formGroup]="company_data">
            <aw-wizard [navBarLocation]="'top'" [navBarLayout]="'large-filled-symbols'" [defaultStepIndex]=0>

              <aw-wizard-step stepTitle="Company Information" [navigationSymbol]="{ symbol: '1' }">
                <div class="card-body">
                  <div class="card-block">
                    <div class="form-body">
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group">
                            <label for="CName">Company Name</label>
                            <input type="text" formControlName="name" class="form-control" id="CName" name="CName">
                            <div *ngIf="f.name.invalid && (f.name.dirty || f.name.touched)">
                              <div *ngIf="f.name.errors.required">
                                <small class="danger">Company Name is required.</small>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                            <label for="DName">Company Display Name</label>
                            <input type="text" formControlName="display_name" class="form-control" id="DName"
                              name="DName">
                            <div role="alert"
                              *ngIf="f.display_name.invalid && (f.display_name.dirty || f.display_name.touched)">
                              <div *ngIf="f.display_name.errors.required">
                                <small class="danger"> Display Name is required.</small>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6 ">
                          <div class="form-group">
                            <label for="email">Email</label>
                            <input type="text" formControlName="email" class="form-control" id="email" name="email">
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                            <label for="website">Website</label>
                            <input type="text" formControlName="website" class="form-control" id="website"
                              name="website">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-actions right">
                  <button type="button" class="btn btn-primary btn-raised" awNextStep>Next </button>
                </div>
              </aw-wizard-step>
              <!--Step 2 -->

              <aw-wizard-step stepTitle="Company Extra Information" [navigationSymbol]="{ symbol: '2' }">

                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="PAN">PAN Number</label>
                      <input type="text" formControlName="pan_number" class="form-control" id="PAN" name="PAN">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="TAN">TAN Number</label>
                      <input type="text" formControlName="tan_number" class="form-control" id="TAN" name="TAN">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="gst_number">GST Number</label>
                      <input type="text" formControlName="gst_number" class="form-control" id="gst_number"
                        name="gst_number">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="iec_number">IEC Number</label>
                      <input type="text" formControlName="iec_number" class="form-control" id="iec_number"
                        name="iec_number">
                    </div>
                  </div>

                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="epc_number">EPC Number</label>
                      <input type="text" formControlName="epc_number" class="form-control" id="epc_number"
                        name="epc_number">
                    </div>
                  </div>

                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="ssi_number">SSI Number</label>
                      <input type="text" formControlName="ssi_number" class="form-control" id="ssi_number"
                        name="ssi_number">
                    </div>
                  </div>

                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="nsic_number">NSIC Number</label>
                      <input type="text" formControlName="nsic_number" class="form-control" id="nsic_number"
                        name="nsic_number">
                    </div>
                  </div>

                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="udyog_aadhaar">Udyog Aadhar Number</label>
                      <input type="text" formControlName="udyog_aadhaar" class="form-control" id="udyog_aadhaar"
                        name="udyog_aadhaar">
                    </div>
                  </div>

                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="tds_number">TDS Number</label>
                      <input type="text" formControlName="tds_number" class="form-control" id="tds_number"
                        name="tds_number">
                    </div>
                  </div>

                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="cin_number">CIN Number</label>
                      <input type="text" formControlName="cin_number" class="form-control" id="cin_number"
                        name="cin_number">
                    </div>
                  </div>

                </div>

                <div class="form-actions right">
                  <button type="button" class="btn btn-danger btn-raised" awPreviousStep>Back</button>
                  <button type="button" class="btn btn-primary btn-raised ml-2"
                    (click)="finishFunction()">Finish</button>
                </div>
              </aw-wizard-step>

            </aw-wizard>
          </form>

        </div>
      </div>
    </div>
  </div>
</div>