<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <div class="col-lg-12 pl-0">
          <p class="text-left" style="text-transform: capitalize !important;font-weight: 400;font-size: 1.5rem;">Setup
            New Branch
          </p>
        </div>
      </div>
      <div class="card-body">
        <div class="card-block">
          <form [formGroup]="branch_data" (ngSubmit)="addOrUpdate(branch_data)">
            <h4 class="form-section"><i class="ft-info"></i>Branch Details</h4>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="branch_name">Branch Name</label>
                  <input type="text" class="form-control" formControlName="branch_name" id="branch_name"
                    name="branch_name">
                  <input type="hidden" formControlName="id" id="id" value="new" class="form-control border-primary"
                    name="id">
                  <div *ngIf="errors.branch_name !== '' ">
                    <p class="red mt-1">{{errors.branch_name}}</p>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="branch_code">Branch Code</label>
                  <input type="text" class="form-control" formControlName="branch_code" id="branch_code"
                    name="branch_code">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="branch_gst_number">Branch GST Number</label>
                  <input type="text" class="form-control" formControlName="branch_gst_number" id="branch_gst_number"
                    name="branch_gst_number">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="ca_category">Godown?</label>
                  <br />
                  <div class="input-group">
                    <div class="custom-control custom-radio d-inline-block">
                      <input class="custom-control-input" id="yes" formControlName="branch_godown" name="branch_godown"
                        type="radio" [value]=1>

                      <label class="custom-control-label" for="yes">Yes</label>
                    </div>
                    <div class="custom-control custom-radio d-inline-block">
                      <input class="custom-control-input" id="no" formControlName="branch_godown" name="branch_godown"
                        type="radio" [value]=0>

                      <label class="custom-control-label" for="no">No</label>
                    </div>
                  </div>
                </div>

              </div>
            </div>

            <h4 class="form-section"><i class="ft-info"></i>Branch Address Details</h4>

            <app-address [parentForm]="branch_data" [controlName]="'address'"></app-address>

            <h4 class="form-section"><i class="ft-info"></i>Branch Bank Details</h4>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="branch_bank_id">Bank Select</label>
                  <select formControlName="branch_bank_id" class="form-control" id="branch_bank_id">
                    <option *ngFor="let bank of data" value="{{bank.id}}">{{bank.bank_name}}-{{bank.account_name}}
                    </option>

                  </select>
                </div>
              </div>
            </div>
            <div class="form-actions left">
              <input type="submit" [disabled]=isProcessing value="Save" class="btn btn-raised btn-primary">
              <input type="submit" [disabled]=isProcessing [routerLink]="['../']" value="Cancel"
                class="btn btn-raised btn-danger ml-2">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>