<div [formGroup]="parentForm">
  <ng-select
    [items]="contact | async"
    [loading]="contactLoading"
    [typeahead]="contactInput"
    formControlName="{{ controlName }}"
    (clear)="loadItems()"
    [trackByFn]="trackBy"
  >
    <ng-template ng-label-tmp let-item="item">
      {{ item.employee_name }}
    </ng-template>
    <ng-template
      ng-option-tmp
      let-item="item"
      let-index="index"
      let-search="searchTerm"
    >
      {{ item.employee_name }} - {{ item.employee_username }}
    </ng-template>
  </ng-select>
</div>
